In [1]:
import pandas as pd
from jellyfish import metaphone as mt
from jellyfish import soundex as su
from jellyfish import nysiis as ni
from jellyfish import match_rating_codex as mrc

In [3]:
#....................................loading original datset.....................................................................
title_description=pd.read_csv('/home/shivangi/Downloads/PHD/Phd_Courses/Monsoon_Sem_2018/IMC/Project/meme_template_classifier/title_description.csv')
title_description['org_label'] = title_description.index
title_description.head()

,title,description,image_name,link,org_label
0,Y U No,\n The Y U No meme ...,0,/Y-U-No,0
1,Willy Wonka,\n \nWilly Wonka Me...,1,/Willy-Wonka,1
2,The Most Interesting Man In The World,\n Dos Equis Beer w...,2,/The-Most-Interesting-Man-In-The-World,2
3,Futurama Fry,\n Futurama Fry sho...,3,/Futurama-Fry,3
4,Success Kid,\n If you come acro...,4,/Success-Kid,4

In [4]:
# pre-processing
# title_description['title'].str.lower()
# title_description['title'].str.replace("-"," ")
for i in range(10):
    title_description['link']=title_description['link'].str.replace(" ","",1)
    title_description['link']=title_description['link'].str.replace("/","",1)
    title_description['link']=title_description['link'].str.lower()
    title_description['link']=title_description['link'].str.replace("-","",1)
    title_description['link']=title_description['link'].str.replace("-","",1)
    title_description['link']=title_description['link'].str.replace("-","",1)

In [5]:
# ........................classes..............................................................................
class_meme=pd.read_csv('/home/shivangi/Downloads/PHD/Phd_Courses/Monsoon_Sem_2018/IMC/Project/meme_template_classifier/class_meme.csv' ) 
class_meme.columns = ['S.No','original','dl1','dl2','dl3','dl4','dl5','dl6','dl7']
x_cls=class_meme.drop(class_meme.index[[0]])
x_cls.head()

,S.No,original,dl1,dl2,dl3,dl4,dl5,dl6,dl7
1,1,90s-problems,sad-face-guy,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1889-10-guy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,aaaand-its-gone,aand-its-gone,and-its-gone,south-park-aand-its-gone,youre-gonna-have-a-bad-time,NaN,NaN,NaN
4,4,aboriginal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,advice-borat,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# some pre-processing on link coloum:
for i in range(10):
    for coloumn in list(x_cls):
        x_cls[coloumn]=x_cls[coloumn].str.replace(" ","",1)
        x_cls[coloumn]=x_cls[coloumn].str.replace("/","",1)
        x_cls[coloumn]=x_cls[coloumn].str.lower()
        x_cls[coloumn]=x_cls[coloumn].str.replace("-","",1)
        x_cls[coloumn]=x_cls[coloumn].str.replace("-","",1)
        x_cls[coloumn]=x_cls[coloumn].str.replace("-","",1)

# x_cls
# trim(preg_replace('/-+/', '-', $str), '-')

In [7]:
# replacing words by numbers
pd_temp = pd.DataFrame()
pd_temp['link'] = title_description['link']
pd_temp['o1'] = title_description['image_name']
x_cls_v2 = pd.merge(x_cls, pd_temp, left_on = 'original', right_on = 'link', how = 'left')
x_cls_v2 = x_cls_v2.drop('original', 1)
x_cls_v2 = x_cls_v2.drop('link', 1)

In [8]:
pd_temp = pd.DataFrame()
pd_temp['link'] = title_description['link']
pd_temp['d1'] = title_description['image_name']
x_cls_v2 = pd.merge(x_cls_v2, pd_temp, left_on = 'dl1', right_on = 'link', how = 'left')
x_cls_v2 = x_cls_v2.drop('dl1', 1)
x_cls_v2 = x_cls_v2.drop('link', 1)

In [9]:
pd_temp = pd.DataFrame()
pd_temp['link'] = title_description['link']
pd_temp['d2'] = title_description['image_name']
x_cls_v2 = pd.merge(x_cls_v2, pd_temp, left_on = 'dl2', right_on = 'link', how = 'left')
x_cls_v2 = x_cls_v2.drop('dl2', 1)
x_cls_v2 = x_cls_v2.drop('link', 1)

In [10]:
pd_temp = pd.DataFrame()
pd_temp['link'] = title_description['link']
pd_temp['d3'] = title_description['image_name']
x_cls_v2 = pd.merge(x_cls_v2, pd_temp, left_on = 'dl3', right_on = 'link', how = 'left')
x_cls_v2 = x_cls_v2.drop('dl3', 1)
x_cls_v2 = x_cls_v2.drop('link', 1)

In [11]:
pd_temp = pd.DataFrame()
pd_temp['link'] = title_description['link']
pd_temp['d4'] = title_description['image_name']
x_cls_v2 = pd.merge(x_cls_v2, pd_temp, left_on = 'dl4', right_on = 'link', how = 'left')
x_cls_v2 = x_cls_v2.drop('dl4', 1)
x_cls_v2 = x_cls_v2.drop('link', 1)

In [12]:
pd_temp = pd.DataFrame()
pd_temp['link'] = title_description['link']
pd_temp['d5'] = title_description['image_name']
x_cls_v2 = pd.merge(x_cls_v2, pd_temp, left_on = 'dl5', right_on = 'link', how = 'left')
x_cls_v2 = x_cls_v2.drop('dl5', 1)
x_cls_v2 = x_cls_v2.drop('link', 1)

In [13]:
pd_temp = pd.DataFrame()
pd_temp['link'] = title_description['link']
pd_temp['d6'] = title_description['image_name']
x_cls_v2 = pd.merge(x_cls_v2, pd_temp, left_on = 'dl6', right_on = 'link', how = 'left')
x_cls_v2 = x_cls_v2.drop('dl6', 1)
x_cls_v2 = x_cls_v2.drop('link', 1)

In [14]:
pd_temp = pd.DataFrame()
pd_temp['link'] = title_description['link']
pd_temp['d7'] = title_description['image_name']
x_cls_v2 = pd.merge(x_cls_v2, pd_temp, left_on = 'dl7', right_on = 'link', how = 'left')
x_cls_v2 = x_cls_v2.drop('dl7', 1)
x_cls_v2 = x_cls_v2.drop('link', 1)
# x_cls_v2

In [21]:
# # finding duplicates on manually annotated file.................
# names=list(x_cls)
# names.pop(0)
# # title_description['new link'].str.lower()
# x_cls['original'].str.lower()
# for i in range(len(title_description)):
#     for j in range(1,len(x_cls)):
#         for k in names:
#             title_description['link'].str.replace(" ","",1)
#             title_description['link'].str.replace("/","",1)title_description['link'].str.lower()
# title_description['link']=title_description['link'].str.replace("-","",1)
# title_description['link']=title_description['link'].str.replace("-","",1)
# title_description['link']=title_description['link'].str.replace("-","",1)
#             if(title_description['new_link'].loc[i]==x_cls[k].loc[j]):
#                 x_cls[k].loc[j]=title_description['image_name'].loc[i]

In [18]:
# ........method-1:fingerprinting of the titles....................
meta=[]
soundex=[]
nysiis=[]
match_codex=[]
for i in range(len(title_description)):
    meta.append(mt(title_description['title'].loc[i]))
#     soundex.append(su(title_description['title'].loc[i]))
    nysiis.append(ni(title_description['title'].loc[i]))
    match_codex.append(mrc(title_description['title'].loc[i]))
    

title_description['meta']=meta
title_description['nyiis']=nysiis
title_description['matchCodex']=match_codex
# title_description.head()

In [19]:
df1=pd.DataFrame([[k,v.values]
for k,v in title_description.groupby('meta').groups.items()], columns=['meta','meta_index'])


df2=pd.DataFrame([[k,v.values]
for k,v in title_description.groupby('nyiis').groups.items()], columns=['nyiis','nyiis_index'])

df3=pd.DataFrame([[k,v.values]
for k,v in title_description.groupby('matchCodex').groups.items()], columns=['match_codex','match_index'])

In [20]:
df1.shape

(502, 2)

In [23]:
df2.shape

(337, 2)

In [24]:
df3.shape

(495, 2)

In [28]:
# ........method-2: sift on images....................

In [30]:
# ...........classification..............................

# STEP-1 : finding unique template numbers for which captions are to be extracted

# ....converting rows into a list bcz elements in each row are same so anyone of the embeddings will be considered among them.
# dup- is a list of list where each list shares same template
# e.g- [372,386] - both the templates are same, take any one of the sentences out of two

dup=[]           
duplicates=x_cls_v2.values.tolist()
for lis in duplicates:
    lis.pop(0)
    duplicate_list=[ele for ele in lis if str(ele) != 'nan']
    dup.append(duplicate_list)

    
# since elements within same are considered equivalent so any of them could be chosen for further classification
# Assumption: chosing first element of the every list or chosing the 'o1' coloumn from x_cls_v2 dataframe.
template=x_cls_v2['o1'].tolist()
unique_template=set(template)
len(unique_template)

In [36]:
path='/home/shivangi/Downloads/PHD/Phd_Courses/Monsoon Sem 2018/IMC/Project/data/captions'
for x in unique_classes:
    path='/home/shivangi/Downloads/PHD/Phd_Courses/Monsoon Sem 2018/IMC/Project/data/captions/0.txt'
    x_file = open(path, "r")

In [37]:
x_file

In [ ]:
fpath = os.path.join(path, "5_1.txt")